body{
    background: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 3%;
    font-size: 15px;
}

img{
    height: auto;
    width: auto;
}
li {
    color: #666;
    display: inline;
  }

.mainmenu{
    background-color: rgb(250, 241, 230);
    padding: 8px 0;
    padding-left: 8px; 
    overflow: hidden;
    border-radius: 12px;
}

.mainmenu a {
    float: left;
    color: #292828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 5px;
}

.mainmenu a:hover {
    background-color: rgb(228, 147, 147);
    color: black;
  }
  
.mainmenu a.active {
    background-color: #9ccebc;
    color: black;
  }

.div-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color: beige;
    padding: 10px 15px;
    border-radius: 7px;
    opacity: .78;
    color: black;
}

.title1{
    opacity: 1;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 50px;
}


.slider-button {
    border: none;
    display: inline-block;
    /*padding: 8px 8px;*/
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color:rgb(51, 51, 51);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    outline: none;
}

.slider-button:hover {
    color: rgb(163, 163, 163)
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}

.wrapper_2col{
    margin-top: 20px;
}

.rubrik{
    font-weight: bold;
}

@media screen and (max-width: 420px) {
    .div-content {
        max-width: 100%;
    }

    .centered {
        font-size: 18px;
        padding: 4px 8px;
    }


    #rubriker{
        margin: 7px;
        padding-right: 5px;
        padding-left: 5px;
    }

    body{
        background-color: rgb(255, 206, 214);
    }

    .title1{
        font-size: 30px;
    }
    
}

@media screen and (min-width: 420px) and (max-width: 794px){
    .div-content {
        max-width: 90%;
    }

    .centered{
        font-size: 23px;
        padding: 9px 14px;
    }
    .title1{
        font-size: 40px;
    }
}

@media screen and (min-width: 794px) and (max-width: 1020px){
    .div-content {
        max-width: 95%;
    }

    .centered{
        font-size: 25px;
        padding: 9px 14px;
    }

    .wrapper_2col{
        display: flex;
        flex-wrap: wrap;
    }

    .leftcol{
        max-width: 49%;
        padding-right: 1%;
    } 
    
    .rightcol {
        max-width: 49%;
        padding-left: 1%;
    }
}

@media screen and (min-width: 1020px){
    .wrapper_2col{
        display: flex;
        flex-wrap: wrap;
    }

    .leftcol{
        max-width: 49%;
        padding-right: 1%;
    } 
    
    .rightcol {
        max-width: 49%;
        padding-left: 1%;
    }
}